.profile__info {
    display: grid;
    grid-template-areas:
        'name button'
        'description description';
    column-gap: 18px;
    margin-left: 30px;
    padding: 0;
}
@media screen and (max-width: 600px) {
    .profile__info {
        margin-left: 27px;
        column-gap: 10px;
    }
}
