.popup__close-button_type_profile {
    position: relative;
    bottom: 332px;
    left: 438px;
}

@media screen and (max-width: 600px) {
    .popup__close-button_type_profile {
        left: 262px;
        bottom: 333px;
    }
}
