.places {
    margin: 51px 0 68px 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 17px;
    list-style-type: none;
}
@media screen and (max-width: 900px) {
    .places {
        column-gap: 10px;
    }
}
@media screen and (max-width: 768px) {
    .places {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 425px) {
    .places {
        grid-template-columns: 100%;
        justify-items: center;
        margin-top: 36px;
        margin-bottom: 49px;
        row-gap: 19.9px;
    }
}
