.header {
    margin: 0 200px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media screen and (max-width: 1150px) {
    .header {
        margin: 0 auto;
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .header {
        width: 100%;
    }
}
